<% layout("/layout/boilerplate") %>
<body>
    
    
    
    <main>
        <% for(post of posts) { %>
        <div class="post">
            <h4>Username: <b>@<%= post.username %></b></h4>
            <p><b>Content:</b> <%= post.content %></p>
            <div class="actions">
                <p>Likes: <%= post.like %></p>
                <button><a href="/posts/<%= post.id%>/increment">Like</a></button>
                <button><a href="/posts/<%= post.id%>">View</a></button>
                <% if(currUser && currUser._id.equals(post.owner)) { %>
                    <button><a href="/posts/<%= post.id%>/edit">Edit</a></button>
                    <form method="post" action="/posts/<%= post.id%>/delete?_method=DELETE">
                        <button type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <hr>
        <% } %>
    </main>

    <script src="/script.js"></script>
</body>
