<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to X</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to X!</h1>
    <button><a href="http://localhost:1110/posts/new">New Post</a></button>
    <% for(post of posts) {%>
    <div>
        <h4>postId : <%= post.id %></h4>
        <h4>Username : <b>@<%= post.username %></b></h4>
        <p>content: <%= post.content %></p>
        <div class="like">
            <p>Like : <%= post.like %></p><button id="like"><a href="http://localhost:1110/posts/<%= post.id%>/increment">Like</a></button>
            <button id="like"><a href="http://localhost:1110/posts/<%= post.id%>/edit">Edit</a></button>
           <form method="post"  action="http://localhost:1110/posts/<%= post.id%>/delete?_method=DELETE">
              <button id="like"> Delete</button>
            </form>
            
        </div>

    </div>
    <hr/>
    <hr/>
    <% } %>

    <script src="/script.js"></script>
</body>
</html>